﻿@model IsItWedding.Models.WeddingDay

@{
    ViewBag.Title = "Dodaj nowy";
}

<h2>Dodaj nowy</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dzień ślubu</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.BrideName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BrideName)
            @Html.ValidationMessageFor(model => model.BrideName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GroomName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GroomName)
            @Html.ValidationMessageFor(model => model.GroomName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WeddingDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WeddingDate)
            @Html.ValidationMessageFor(model => model.WeddingDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GuestEmailList)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GuestEmailList)
            @Html.ValidationMessageFor(model => model.GuestEmailList)
        </div>
        <p>
            <input type="submit" value="Dodaj" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
