﻿@model IsItWedding.Models.WeddingDay

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>WeddingDay</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BrideName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BrideName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GroomName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroomName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WeddingDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WeddingDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Powrót do listy", "Index")
    </p>
}
