﻿@model IsItWedding.Models.WeddingDay

@{
    ViewBag.Title = "Czy to ślub?";
}

<script type="text/javascript">
    var timerId =
          countdown(
            new Date('@Model.WeddingDate'),
            function (ts) {
                $('#countdown').html(ts.toHTML("strong"));
            },
            countdown.DAYS | countdown.HOURS | countdown.MINUTES | countdown.SECONDS);
</script>

<h2>Czy to ślub?</h2>
<h3 id="is-it-wedding">@Model.IsItWeddingLiteral</h3>
<p id="countdown-txt">@Model.BrideName i @Model.GroomName biorą ślub za: <span id="countdown"></span></p>


@*<fieldset>
    <legend>WeddingDay</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.BrideName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BrideName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.GroomName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroomName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.WeddingDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WeddingDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
