﻿@model IEnumerable<IsItWedding.Models.WeddingDay>

@{
    ViewBag.Title = "Czy to ślub?";
}

<p>
    @Html.ActionLink("Dodaj nowy", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrideName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeddingDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrideName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeddingDate)
        </td>
        <td>
            @Html.ActionLink("Edycja", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
